body {
  padding: 0;
  margin: 0;
  background: #CCC;
  font-family: Lato, Helvetica, sans-serif;
}

header {
  background: #f4511e;
}

h1 {
  margin: 40px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

form {
  margin: 40px;
}
